{{#if typemodelvehiculos}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>Código</th>v
        <th>Descripción</th>
        <th>Número Tipo Modelo de Vehiculo</th>
        <th> </th>
        <th> </th>

      </tr>
    </thead>
    <tbody>
      {{#each typemodelvehiculos}}
        <tr>
          <td>{{code}}</td>
          <td>{{description}}</td>
          <td>{{id_vehicleType}}</td>
          <td>
            <a href="/typemodelvehiculos/{{id}}/edit" class="btn btn-info">
              Editar
            </a>
          </td>
          <td>
            <a href="/typemodelvehiculos/{{id}}/delete" class="btn btn-danger">
              Eliminar
            </a>
          </td>
        </tr>

      {{/each}}
    </tbody>
  </table>

{{else}}
  <div class="h-100 d-flex align-item-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay tipo de modelo de vehiculo registrado</h1>
      <i class="far fa-clipboard fa-10x"></i>
    </div>

  </div>
{{/if}}